section#contact {
  color: #eee;
}
section#contact div.wrap {
  color: #eee;
}
section#contact div.wrap h1 {
  color: #eee;
}
section#contact div.wrap h2 {
  color: #eee;
}
section#contact div.wrap ul.type {
  color: #eee;
}
section#contact div.wrap ul.type li {
  color: #eee;
}
section#contact div.wrap ul.type li a {
  color: #eee;
}
section#contact div.wrap ul.talk {
  color: #eee;
}
section#contact div.wrap ul.talk li {
  color: #eee;
}
section#contact div.wrap ul.talk li p {
  color: #eee;
}
section#contact div.wrap ul.talk li a {
  color: #eee;
}
section#contact div.wrap span {
  color: #eee;
}
section#contact div.wrap span a.big {
  color: #eee;
}
section#contact div.wrap span a.small {
  color: #eee;
}
section#contact div.wrap span a.btn {
  color: #eee;
}