section#contact{color: #eee;
    div.wrap{color: #eee;
        h1{color: #eee;

        }
        h2{color: #eee;

        }
        ul.type{color: #eee;
            li{color: #eee;
                a{color: #eee;

                }
            }
        }
        ul.talk{color: #eee;
            li{color: #eee;
                p{color: #eee;
                    
                }
                a{color: #eee;

                }
            }
        }
        span{color: #eee;
            a.big{color: #eee;

            }
            a.small{color: #eee;

            }
            a.btn{color: #eee;

            }
        }

    }
}
